body {
    overflow: hidden;
   }
   
   #bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
   }
   
   #overlay {
    background-color: rgba(255,255,255,0.7);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
   }
   
   #overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   }
   
   #rotateImage {
    animation: rotation 2s infinite linear;
    width: 390px;
    height: auto;
    position: absolute;
    top: 20%; /* Ändern Sie diesen Wert, um das Bild weiter nach oben zu verschieben */
    left: 37%; /* Ändern Sie diesen Wert, um das Bild weiter nach links zu verschieben */
    transform: translate(-50%, -50%);
   }
   
   @keyframes rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(359deg);
    }
   }
   
